/* .topBar{
    margin-top: -90px;
} */

.dashboard {
    display: flex;
    align-items: start;
    gap: .2rem  ;
    width: 100%!important;
}
.topbar1{
/* margin: 3rem; */
margin-left:-33rem;
/* width: 30rem; */
}

.date{
    width: 40vw;

    margin-left: 1rem;
    /* float: left; */

}
.input{
    margin-top: -10rem;
    margin-left: 17.5rem;
    margin-top: -3.8rem;

}
.input1{
    margin-top: -7rem;
    margin-left: 17.5rem;

}
.leftBar{
    margin-top: -32rem;
    margin-left: 25rem;
    display: flex;
    flex-wrap: wrap;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px; 
    height: 300px;
    margin-left: 24%;
  }
  
  .hospital-container{
    position: absolute; 
    top: 104px; 
    right: 20px; 
    width: 500px; 
    height: 300px;
  }
  
  .appointment-container{
    position: absolute; 
    top: 350px;  
    width: 500px; 
    height: 300px;
    margin-left: 211px;
  }
  
  .activities-container{
    position: absolute; 
    top: 380px; 
    right: 20px; 
    width: 500px; 
    height: 300px;
    left: 310px;
    
  }
      



