/* .user-circle {
    width: 100px;
    height: 100px; 
    border-radius: 50%; 
    background-color: #3692ba; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; 
  }
  
  .user-icon {
    color: white; 
  }

  .card-content{
    align-items: center;
  }

  .card-text{
    text-align: center;
  } */